In [21]:
#Setting Library
import pandas as pd
from pathlib import Path

In [22]:
#Getting the information from the actual sources
school_data_to_load = Path("Starter_Code/PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path("Starter_Code/PyCitySchools/Resources/students_complete.csv")

#Getting them to be read
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
#How we're setting up the chart
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [36]:
#Total number of unique schools
school_count = school_data["school_name"].value_counts()
school_count

school_name
Huang High School        1
Figueroa High School     1
Shelton High School      1
Hernandez High School    1
Griffin High School      1
Wilson High School       1
Cabrera High School      1
Bailey High School       1
Holden High School       1
Pena High School         1
Wright High School       1
Rodriguez High School    1
Johnson High School      1
Ford High School         1
Thomas High School       1
Name: count, dtype: int64

In [24]:
#Total number of students
student_count = len(student_data)
student_count

39170

In [26]:
#Total budget
budget_total = school_data["budget"].sum()
budget_total

24649428

In [30]:
#Average math score
avg_math_score = student_data["math_score"].mean()
avg_math_score

78.98537145774827

In [32]:
#Average reading score
avg_read_score = student_data["reading_score"].mean()
avg_read_score

81.87784018381414

In [33]:
#Percent of students who passed math
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100

passing_math_percentage

74.9808526933878

In [34]:
#Percent of students who passed reading
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

passing_reading_percentage

85.80546336482001

In [35]:
#Percent of students who passed overall
passing_both_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_both_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [37]:
#Sort schools by overall passing percentage in ascending order and display top 5 rows
district_summary = df.sort_values(

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

SyntaxError: invalid syntax (2963298479.py, line 2)